<h3>Ordinal Encoder</h3>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\wwrao\Downloads\cleaned_file.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y

In [3]:
dataset=data[["Gender", "Married", "Education", "Self_Employed", "Loan_Status"]]
dataset.head()

  Gender Married     Education Self_Employed Loan_Status
0   Male     Yes      Graduate            No           N
1   Male     Yes      Graduate           Yes           Y
2   Male     Yes  Not Graduate            No           Y
3   Male      No      Graduate            No           Y
4   Male     Yes      Graduate           Yes           Y

In [4]:
x=dataset.iloc[:,:4]
y=dataset.iloc[:,-1]
x

    Gender Married     Education Self_Employed
0     Male     Yes      Graduate            No
1     Male     Yes      Graduate           Yes
2     Male     Yes  Not Graduate            No
3     Male      No      Graduate            No
4     Male     Yes      Graduate           Yes
5     Male     Yes  Not Graduate            No
6     Male     Yes      Graduate            No
7     Male     Yes      Graduate            No
8     Male     Yes      Graduate            No
9     Male      No      Graduate            No
10    Male     Yes      Graduate            No
11    Male     Yes      Graduate            No
12    Male     Yes      Graduate            No
13    Male     Yes      Graduate            No
14    Male      No      Graduate            No
15    Male      No      Graduate            No
16  Female      No      Graduate            No
17    Male     Yes  Not Graduate            No
18    Male     Yes      Graduate            No
19    Male     Yes      Graduate            No
20    Male     Yes      Graduate            No
21    Male     Yes      Graduate            No
22    Male     Yes      Graduate            No
23    Male     Yes      Graduate            No
24    Male     Yes      Graduate            No
25    Male     Yes      Graduate            No
26    Male      No      Graduate           Yes
27    Male     Yes      Graduate           Yes
28    Male     Yes      Graduate           Yes
29    Male     Yes      Graduate            No
30    Male     Yes      Graduate            No
31    Male      No      Graduate            No
32    Male     Yes      Graduate            No
33    Male     Yes      Graduate            No

In [5]:

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.shape

(27, 4)

In [6]:
from sklearn.preprocessing import OrdinalEncoder

oe=OrdinalEncoder(categories=[["Female","Male"],["No","Yes"],["Graduate","Not Graduate"],["No","Yes"]])

In [7]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Female', 'Male'], ['No', 'Yes'],
                           ['Graduate', 'Not Graduate'], ['No', 'Yes']])

In [8]:
x_train_Scaled=oe.transform(x_train)
x_test_Scaled=oe.transform(x_test)

<h3>Lablel Encoder</h3>

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
l=LabelEncoder()

In [11]:
l.fit(y_train)

LabelEncoder()

In [22]:
y_train_Sclaed=l.transform(y_train)
y_test_Sclaed=l.transform(y_test)

In [23]:
x_train.columns

Index(['Gender', 'Married', 'Education', 'Self_Employed'], dtype='object')

In [24]:

x_train_df = pd.DataFrame(x_train_Scaled,columns=x_train.columns)
x_test_df = pd.DataFrame(x_test_Scaled,columns=x_train.columns)

In [25]:
y_train_df = pd.DataFrame(y_train_Sclaed,columns=["Loan_Status"])
y_test_df = pd.DataFrame(y_test_Sclaed,columns=["Loan_Status"])

In [26]:

train_data = pd.concat([x_train_df, y_train_df], axis=1)
test_data = pd.concat([x_test_df, y_test_df], axis=1)

In [27]:
dataset = pd.concat([train_data, test_data], axis=0)

In [28]:
dataset

    Gender  Married  Education  Self_Employed  Loan_Status
0      1.0      1.0        1.0            0.0            1
1      1.0      0.0        0.0            0.0            1
2      1.0      1.0        0.0            0.0            1
3      1.0      1.0        0.0            1.0            1
4      1.0      1.0        0.0            0.0            0
5      1.0      1.0        0.0            0.0            0
6      1.0      0.0        0.0            0.0            1
7      1.0      1.0        0.0            0.0            0
8      1.0      1.0        0.0            1.0            1
9      1.0      1.0        0.0            0.0            1
10     1.0      1.0        0.0            0.0            1
11     1.0      1.0        0.0            0.0            1
12     1.0      1.0        0.0            0.0            0
13     1.0      1.0        0.0            0.0            1
14     1.0      0.0        0.0            0.0            1
15     1.0      1.0        0.0            0.0            0
16     1.0      1.0        0.0            1.0            1
17     1.0      1.0        0.0            0.0            1
18     1.0      1.0        1.0            0.0            0
19     1.0      1.0        0.0            0.0            1
20     1.0      1.0        0.0            0.0            0
21     1.0      0.0        0.0            0.0            1
22     0.0      0.0        0.0            0.0            0
23     1.0      1.0        0.0            0.0            1
24     1.0      0.0        0.0            0.0            1
25     1.0      1.0        0.0            0.0            0
26     1.0      1.0        1.0            0.0            0
0      1.0      1.0        0.0            0.0            1
1      1.0      1.0        0.0            0.0            0
2      1.0      1.0        0.0            0.0            1
3      1.0      0.0        0.0            1.0            1
4      1.0      1.0        0.0            0.0            1
5      1.0      1.0        0.0            0.0            1
6      1.0      1.0        0.0            1.0            1