In [115]:
import pandas as pd

In [144]:
dataset=pd.read_csv(r"C:\Users\wwrao\Downloads\cars.csv")
dataset.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [130]:
dummies = pd.get_dummies(dataset,columns=['fuel','owner'])
# dataset_dummies
dummies

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [131]:
dummies = pd.get_dummies(dataset,columns=['fuel','owner'], drop_first=True)
dummies # parents column are removed

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [132]:
x=dataset.iloc[:,0:4]
y=dataset.iloc[:,-1]

In [133]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [134]:
from sklearn.preprocessing import OneHotEncoder

In [135]:
o=OneHotEncoder()

In [136]:
o.fit(x_train[["fuel","owner"]])

OneHotEncoder()

In [139]:
x_train_scaled=o.fit_transform(x_train[["fuel","owner"]]).toarray()
x_test_scaled=o.fit_transform(x_test[["fuel","owner"]]).toarray()

In [156]:
dataset1=dataset[["brand","km_driven"]].values
dataset1

array([['Maruti', 145500],
       ['Skoda', 120000],
       ['Honda', 140000],
       ...,
       ['Maruti', 120000],
       ['Tata', 25000],
       ['Tata', 25000]], dtype=object)

In [159]:
dataset1=pd.DataFrame(dataset1,columns=("brand","km_driven"))
dataset1

        brand km_driven
0      Maruti    145500
1       Skoda    120000
2       Honda    140000
3     Hyundai    127000
4      Maruti    120000
...       ...       ...
8123  Hyundai    110000
8124  Hyundai    119000
8125   Maruti    120000
8126     Tata     25000
8127     Tata     25000

[8128 rows x 2 columns]

In [200]:
a=pd.DataFrame(x_train_scaled,columns=("fuel","owner",3,4,5,6,7,8,9))
b=pd.DataFrame(x_test_scaled,columns=("fuel","owner",3,4,5,6,7,8,9))

In [201]:
x_train_scaled.shape

(6502, 9)

In [202]:
x_train_scaled.shape

(6502, 9)

In [193]:
x_train[["fuel","owner"]].shape

(6502, 2)

In [197]:
a[["fuel","owner"]].shape

(6502, 2)

In [203]:
a.drop(columns=[3,4,5,6,7,8,9],axis=1,inplace=True)
b.drop(columns=[3,4,5,6,7,8,9],axis=1,inplace=True)

In [210]:
dataset2=pd.concat([a,b],axis=0)

In [211]:
dataset2.shape

(8128, 2)

In [212]:
dataset1.shape

(8128, 2)

In [217]:
pd.concat([dataset1,dataset2],axis=1,ignore_index=True)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [215]:
dataset1

        brand km_driven
0      Maruti    145500
1       Skoda    120000
2       Honda    140000
3     Hyundai    127000
4      Maruti    120000
...       ...       ...
8123  Hyundai    110000
8124  Hyundai    119000
8125   Maruti    120000
8126     Tata     25000
8127     Tata     25000

[8128 rows x 2 columns]

In [216]:
dataset2

      fuel  owner
0      0.0    1.0
1      0.0    1.0
2      0.0    0.0
3      0.0    1.0
4      0.0    0.0
...    ...    ...
1621   0.0    1.0
1622   0.0    1.0
1623   0.0    0.0
1624   0.0    1.0
1625   0.0    0.0

[8128 rows x 2 columns]

In [219]:
# Concatenate rows (default behavior)
concatenated = pd.concat([dataset1, dataset2], axis=0)

# Concatenate columns (side by side)
concatenated = pd.concat([dataset1, dataset2], axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [223]:
dataset1['fuel'].is_un

False