In [233]:
import pandas as pd


import numpy as np

In [234]:
dataset=pd.read_csv(r"C:\Users\Azhar computer\Documents\datasets\archive (1)\Pune house data.csv")

In [235]:
dataset.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [236]:
split = dataset["size"].str.split(" ", n=1, expand=True)
dataset["bed"] = split[0].astype(np.float64)

In [237]:
dataset=dataset.drop(columns=["availability","balcony","size","society","total_sqft"],axis=1)
dataset.head()

              area_type  bath   price    site_location  bed
0  Super built-up  Area   2.0   39.07      Alandi Road  2.0
1            Plot  Area   5.0  120.00  Ambegaon Budruk  4.0
2        Built-up  Area   2.0   62.00       Anandnagar  3.0
3  Super built-up  Area   3.0   95.00            Aundh  3.0
4  Super built-up  Area   2.0   51.00       Aundh Road  2.0

In [238]:
dataset.isnull().sum()

area_type         0
bath             73
price             0
site_location     1
bed              16
dtype: int64

In [239]:
dataset.area_type.value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

In [240]:

dataset["area_type"] = dataset["area_type"].fillna(dataset["area_type"].mode()[0])
dataset["site_location"] = dataset["site_location"].fillna(dataset["site_location"].mode()[0])
dataset["bath"] = dataset["bath"].fillna(dataset["bath"].mean())
dataset["bed"] = dataset["bed"].fillna(dataset["bed"].mean())

In [241]:
dataset.isnull().sum()

area_type        0
bath             0
price            0
site_location    0
bed              0
dtype: int64

In [242]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder,OrdinalEncoder,LabelEncoder

In [243]:
area_order = [["Super built-up  Area", "Built-up  Area", "Plot  Area", "Carpet  Area"]]
oe= OrdinalEncoder(categories=area_order)
dataset.area_type=oe.fit_transform(dataset[["area_type"]]).astype(int)

In [244]:

onh=OneHotEncoder(sparse_output=False)
dataset1=onh.fit_transform(dataset[["site_location"]])

In [245]:
site_location_values = dataset["site_location"].unique()
print(site_location_values)

['Alandi Road' 'Ambegaon Budruk' 'Anandnagar' 'Aundh' 'Aundh Road'
 'Balaji Nagar' 'Baner' 'Baner road' 'Bhandarkar Road' 'Bhavani Peth'
 'Bibvewadi' 'Bopodi' 'Budhwar Peth' 'Bund Garden Road' 'Camp'
 'Chandan Nagar' 'Dapodi' 'Deccan Gymkhana' 'Dehu Road' 'Dhankawadi'
 'Dhayari Phata' 'Dhole Patil Road' 'Erandwane' 'Fatima Nagar'
 'Fergusson College Road' 'Ganesh Peth' 'Ganeshkhind' 'Ghorpade Peth'
 'other' 'Gokhale Nagar' 'Gultekdi' 'Guruwar peth' 'Hadapsar'
 'Hadapsar Industrial Estate' 'Hingne Khurd' 'Jangali Maharaj Road'
 'Kalyani Nagar' 'Karve Nagar' 'Karve Road' 'Kasba Peth' 'Katraj'
 'Khadaki' 'Khadki' 'Kharadi' 'Kondhwa' 'Kondhwa Budruk' 'Kondhwa Khurd'
 'Koregaon Park' 'Kothrud' 'Law College Road' 'Laxmi Road' 'Lulla Nagar'
 'Mahatma Gandhi Road' 'Mangalwar peth' 'Manik Bagh' 'Market yard'
 'Model colony' 'Mukund Nagar' 'Mundhawa' 'Nagar Road' 'Nana Peth'
 'Narayan Peth' 'Narayangaon' 'Navi Peth' 'Padmavati' 'Parvati Darshan'
 'Pashan' 'Paud Road' 'Pirangut' 'Prabhat Road' 'Pune Railway Station'
 'Rasta Peth' 'Raviwar Peth' 'Sadashiv Peth' 'Sahakar Nagar'
 'Salunke Vihar' 'Sasson Road' 'Satara Road' 'Senapati Bapat Road'
 'Shaniwar Peth' 'Shivaji Nagar' 'Shukrawar Peth' 'Sinhagad Road'
 'Somwar Peth' 'Swargate' 'Tilak Road' 'Uruli Devachi' 'Vadgaon Budruk'
 'Wadgaon Sheri' 'Viman Nagar' 'Vishrant Wadi' 'Wagholi' 'Wakadewadi'
 'Wanowrie' 'Warje' 'Yerawada' 'Ghorpadi']

In [246]:
dataset.head()
d1=pd.DataFrame(dataset1,columns=site_location_values)
dataset2=pd.concat([dataset,d1],axis=1)

In [247]:
dataset2.drop(columns=["site_location"],axis=1,inplace=True)

In [248]:
dataset2.head(2)

,area_type,bath,price,bed,Alandi Road,Ambegaon Budruk,Anandnagar,Aundh,Aundh Road,Balaji Nagar,...,Vadgaon Budruk,Wadgaon Sheri,Viman Nagar,Vishrant Wadi,Wagholi,Wakadewadi,Wanowrie,Warje,Yerawada,Ghorpadi
0,0,2.0,39.07,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,5.0,120.00,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dataset.desc