In [17]:
import pandas as pd

In [20]:
dataset=pd.read_csv(r"C:\Users\wwrao\OneDrive\Documents\SVMtrain.csv")
dataset.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,Male,22.0,1,0,7.2500,3
1,2,1,1,female,38.0,1,0,71.2833,1
2,3,1,3,female,26.0,0,0,7.9250,3
3,4,1,1,female,35.0,1,0,53.1000,3
4,5,0,3,Male,35.0,0,0,8.0500,3

In [24]:
x=dataset.drop(columns=["Survived"])
x.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    Male  22.0      1      0   7.2500         3
1            2       1  female  38.0      1      0  71.2833         1
2            3       3  female  26.0      0      0   7.9250         3
3            4       1  female  35.0      1      0  53.1000         3
4            5       3    Male  35.0      0      0   8.0500         3

In [26]:
y=dataset["Survived"]
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [47]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
x["Sex"]=l.fit_transform(x["Sex"])
x.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    0  22.0      1      0   7.2500         3
1            2       1    1  38.0      1      0  71.2833         1
2            3       3    1  26.0      0      0   7.9250         3
3            4       1    1  35.0      1      0  53.1000         3
4            5       3    0  35.0      0      0   8.0500         3

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)
x_train.shape,x_test.shape

((711, 8), (178, 8))

In [53]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [54]:
gnb.fit(x_train,y_train)

GaussianNB()

In [56]:
x_test[:5]

     PassengerId  Pclass  Sex   Age  SibSp  Parch    Fare  Embarked
166          168       3    1  45.0      1      4  27.900         3
640          642       1    1  24.0      0      0  69.300         1
750          752       3    0   6.0      0      1  12.475         3
832          835       3    0  18.0      0      0   8.300         3
595          597       2    1  60.0      0      0  33.000         3

In [60]:
y_test[:10]

166    0
640    1
750    1
832    0
595    1
416    1
581    0
266    1
133    0
710    0
Name: Survived, dtype: int64

In [63]:
y_pred=gnb.predict(x_test[:10])
y_pred

array([0, 1, 0, 0, 1, 1, 0, 0, 0, 0], dtype=int64)

In [65]:
gnb.predict_proba(x_test[:10])

array([[0.84882602, 0.15117398],
       [0.00345315, 0.99654685],
       [0.91281143, 0.08718857],
       [0.93273961, 0.06726039],
       [0.15076959, 0.84923041],
       [0.16206913, 0.83793087],
       [0.88069887, 0.11930113],
       [0.9406677 , 0.0593323 ],
       [0.86371791, 0.13628209],
       [0.65888819, 0.34111181]])

In [68]:
from sklearn.metrics import accuracy_score

In [70]:
accuracy_score(y_test[:10],y_pred)*100

80.0